In [45]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [46]:
df = pd.read_excel('data.xlsx')

In [47]:
df.head()

,FIO,Месяц,Профессия,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
0,Абрамов Е. Д.,2009-01-01,Уборщик,3,Пилигримовые станы,18,580,17084.600000
1,Абрамов Е. Д.,2009-02-01,Уборщик,3,Пилигримовые станы,18,790,15744.800000
2,Абрамов Е. Д.,2009-03-01,Уборщик,3,Пилигримовые станы,18,820,17084.600000
3,Абрамов Е. Д.,2009-04-01,Уборщик,3,Пилигримовые станы,18,1200,19396.411765
4,Абрамов Е. Д.,2009-05-01,Уборщик,3,Пилигримовые станы,18,1250,20342.152941

In [48]:
df.groupby('Профессия').count()

,FIO,Месяц,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
Профессия,,,,,,,
Вальцовщик,612,612,612,612,612,612,612
Контролер качества готовой продукции,108,108,108,108,108,108,108
Нагревальщик металла,504,504,504,504,504,504,504
Огнеупорщик,60,60,60,60,60,60,60
Оператор поста управления,324,324,324,324,324,324,324
Подручный вальцовщика,360,360,360,360,360,360,360
Посадчик металла,96,96,96,96,96,96,96
Резчик горячего металла,84,84,84,84,84,84,84
Уборщик,252,252,252,252,252,252,252

In [49]:
df = pd.concat([df, pd.get_dummies(df['Профессия'], prefix='Job')], axis=1)
df = pd.concat([df, pd.get_dummies(df['Оборудование'], prefix='Оборудование')], axis=1)
df = pd.concat([df, pd.get_dummies(df['FIO'], prefix='FIO')], axis=1)
df = pd.concat([df, pd.get_dummies(df['Месяц'], prefix='Месяц')], axis=1)
df.drop(['Профессия', 'Оборудование', 'FIO', 'Месяц'], axis=1, inplace=True)

In [50]:
df.head()

,Разряд,Вредность (балл.),Объем производства,Доход,Job_Вальцовщик,Job_Контролер качества готовой продукции,Job_Нагревальщик металла,Job_Огнеупорщик,Job_Оператор поста управления,Job_Подручный вальцовщика,...,Месяц_2009-03-01 00:00:00,Месяц_2009-04-01 00:00:00,Месяц_2009-05-01 00:00:00,Месяц_2009-06-01 00:00:00,Месяц_2009-07-01 00:00:00,Месяц_2009-08-01 00:00:00,Месяц_2009-09-01 00:00:00,Месяц_2009-10-01 00:00:00,Месяц_2009-11-01 00:00:00,Месяц_2009-12-01 00:00:00
0,3,18,580,17084.600000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,18,790,15744.800000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,18,820,17084.600000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,3,18,1200,19396.411765,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,3,18,1250,20342.152941,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
df.iloc[0]

Разряд                           3.0
Вредность (балл.)               18.0
Объем производства             580.0
Доход                        17084.6
Job_Вальцовщик                   0.0
                              ...
Месяц_2009-08-01 00:00:00        0.0
Месяц_2009-09-01 00:00:00        0.0
Месяц_2009-10-01 00:00:00        0.0
Месяц_2009-11-01 00:00:00        0.0
Месяц_2009-12-01 00:00:00        0.0
Name: 0, Length: 234, dtype: float64

In [53]:
# X = df[['Разряд','Вредность (балл.)','Объем производства', 'Job_Вальцовщик',
# 'Job_Контролер качества готовой продукции', 'Job_Нагревальщик металла', 'Job_Огнеупорщик', 'Job_Оператор поста управления', 'Job_Подручный вальцовщика', 'Job_Посадчик металла', 'Job_Резчик горячего металла', 'Job_Уборщик', 'Оборудование_Вспомогательные помещения', 'Оборудование_Калибровочный стан', 'Оборудование_Калибровочный стан, ГРП', 'Оборудование_Контрольно-измерительная аппаратура', 'Оборудование_Нагревательные печи', 'Оборудование_Нагревательные печи, кантовка', 'Оборудование_Нагревательные печи, нагрев', 'Оборудование_Пилигримовые станы', 'Оборудование_Прошивной стан']]
X = df.drop(['Доход'], axis=1)

In [54]:
y = df['Доход']

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [56]:
model = LinearRegression().fit(X_train, y_train)

In [57]:
model.score(X_train, y_train)

0.9924413209463014

## Очень интересно!

In [58]:
model.coef_

array([ 3030.96951303,   166.92420992,     8.1792378 ,   -96.6776854 ,
          24.94168123,  -135.8801919 ,  -176.75921376,    11.52755924,
         375.41407117,   113.30238048,  -488.77092891,   372.90232784,
          77.41083578,  -343.37377767,   125.05325344,    24.94168123,
         158.0609535 ,  -341.49685559,   -15.90112308,   255.56594696,
          59.73908544,  1130.38400112,   626.2259013 , -1264.39017393,
        -833.88266282,    54.25375004,  -375.44707778,   432.09592283,
         194.20538263,  -815.36715847,  -271.52288567,  -823.42155845,
        -635.20623535,  -925.03405229,   569.53092931,  -130.74456758,
         662.75778312,   570.88368466,   183.00110514,  -199.97651554,
        -214.82249396,  -428.00291298,   693.04862637,   361.83474536,
        -277.28443385,   432.43988241,  1491.28716057,  -750.496295  ,
        -588.05259437,  1237.56159461,  -952.38341648,  -402.87394152,
        -375.65077707,  -264.60905385,  -707.00497015,   459.92946037,
        -722.17442442,   478.12653561,  -300.86010379,   612.69507204,
        -253.23674682,  1542.77494063,  -122.51752577,  -819.38722087,
        -386.07110794, -1046.72346644,  -557.09764594,  -272.85836008,
       -1015.85647926,  1275.92764622,   199.04089176,  1026.45421866,
         169.39493163,   196.90414545,   910.17969911,   876.92936947,
        -199.21567818,  1079.2577994 ,   519.24834908,  -388.38352665,
        -357.7936947 ,  -453.83633398,  -122.80589684,  -166.8319996 ,
         205.8620188 ,  -198.34817873,  -893.72266189,  -264.50558169,
          63.26939217,   798.82459782,   -83.20392419,  -919.96838078,
        -417.76131152,  -137.1458568 ,   601.49899808,  -728.90575219,
          90.15725122,   335.82394594,   506.87638639,  -865.54136189,
       -1126.99441039,   190.3714155 ,   533.98045895,  -274.9173106 ,
         298.8454922 ,  1207.84539545,   430.47338353,  -487.14826053,
         144.93610892,   946.28943372,  -563.70848061,   195.46420767,
         107.91091971,  1085.66370509,   472.61252031,  -392.19125877,
        1275.40717929,   554.56945356,  -738.29260313,  -153.55425743,
        -343.78441956,  -754.19478804,  -401.59667674,  -160.06844576,
         177.71496543,  -736.45795053,   321.89663177,  -927.965151  ,
        1061.44133649,   607.41621222,  -474.8149475 , -1028.46804727,
        -976.14951398,  -309.20549638,  1096.7748491 ,  -268.8494931 ,
         349.47680122,  -442.84441255,   186.50925522,   -70.6917244 ,
        -449.20854259,   818.51125975,  1030.41969955,   -88.08009954,
        -318.34438729,   705.36273113,  -430.23708449,  1690.38179638,
        -425.18175753, -1220.38523085,  -970.65424961,  -304.16304997,
       -1060.84287389,   624.27899675,   530.32502643,  -544.33875469,
        -161.66862241,  -676.5146564 ,   421.13188626,   632.39239077,
        -392.35681199,  -139.9865376 ,   536.94068934,   -85.71907932,
        -523.15998548,  -769.00134573,   190.31127857,  -194.84902638,
        -748.05452432,    93.81756071,   -52.78055268,   370.00650041,
       -1169.11234656,  1918.28795907,   130.63143545,  1049.72499216,
        -267.92729871,  -666.21990859,  -704.64325366,  -482.9111949 ,
       -1110.33488994,   811.84184466,   239.20446841,  -482.67657653,
        1121.10082377,  -315.47650174,  -206.86636614, -1085.92757761,
         274.11671377, -1107.04314157,  -546.77894801,  -482.00535096,
        -337.38580255,   -43.9690791 ,  -421.79107792,   441.59803282,
          10.33872818,   461.60401237,  -720.25783275,   548.88485308,
        1025.6404836 ,  1088.73781441,  1619.14785301,  -260.82632657,
         145.04223552,  -714.34642447,   864.02119135,  -787.03690561,
         183.47878192,  2063.63568336,  -259.05435597,  -200.60376329,
        -539.37674082,   626.68603776,  -299.15727249,  1926.56977533,
        -204.63906567,   626.42016321,  -460.94205581,  -285.00246672,
         625.78479989,  1843.77967607, -1538.66410704,   -87.16340109,
        -318.16144373,   541.99162085,  -740.8218775 ,   865.18885825,
         389.09858512,  -495.83690494,   232.04238222,  -619.49094157,
         -71.96244665])

## Выводы
В результате данного исследования данных мы получили линейную комбинацию весов исходных параметров для построения линейной зависимости. Так, параметр 'Разряд' очень важен для вычисления дохода работника, а объем, например, нет.
Точность модели получилась достаточно высокой даже без каких-либо дополнительных настроек, это говорит о том, что пример, скорее всего, искусственный, либо зависимость очень явная и легко обнаруживается!
Я не использовал имена сотрудников и даты, возможно, из-за этого неправильно понял задание и сделал не сосвем то, что просили, пожалуйста, скажите, если это так, я переделаю!